header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
}
nav {
  background: #4285f4;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 2;
  position: relative; /*for z-index to work*/
}
.nav-left {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  width: 200px;
}
.logo img {
  max-height: 36px;
}
.search .form {
  height: 48px;
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,0.16); /*#6099f6;*/
  min-width: 527px;
  transition: all .2s ease;
  border-radius: 3px;
}

.search .form button {
  background: none;
  border: none;
  margin-right: 16px;
  outline: none;
  cursor: pointer;
}
.search .form input {
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  padding-left: 48px;
  width: 90%;
  color: rgba(255,255,255,0.7);
}
.search .form input:disabled {
  opacity: .7;
  cursor:not-allowed;
}
.search .form input::placeholder {
  color: rgba(255,255,255,0.7);
}
.search .form input:focus::placeholder {
  color:#555555;
  opacity: .7;
}
.search .form:focus-within {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.24);
}
.search .form:focus-within input {
  color: #555555;
}
.search .form:focus-within .cls-1-search{
  fill:#555555;
  opacity: .7;
}


.nav-right {
  position: relative;
  min-width: 202px;
}
.nav-right > button {
  background: none;
  border: none;
  margin-left: 16px;
  padding: 4px;
  border-radius: 50%;
  line-height: 0;
  outline: none;
}
.nav-right > button:hover {
  background: rgba(255,255,255,0.16);;
  cursor: pointer;
}

/* Dropdown */
/*#############################################################################*/
.dropdown {
  position:absolute;
  top:130%;
  right:0;
  background-color:#fafafa;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: none;
  animation: fadeIn .2s ease-out;
}
.dropdown::before {
  content:'';
  position:absolute;
  border-width: 10px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #fafafa;
  border-right-color: transparent;
  top:-20px;
  right:6px;
}
.dropdown-active {
  display: initial;
}
.dropdown ul {
  list-style-type: none;
  padding: 10px;
}
.dropdown ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(218, 218, 218, 0.7);
}
.dropdown ul li:last-of-type {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}
.dropdown ul li button {
  width: 100%;
  display: block;
  background: none;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  cursor: pointer;
}
.dropdown ul li button:first-of-type {
  background: #1976d2;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
}
.dropdown ul li button:last-of-type {
  color: #555555;
  opacity: .7;
  font-size: 12px;
  margin-top: 8px;
}
.dropdown ul li a {
  text-decoration: none;
  color: #555555;
  line-height: 24px;
  font-weight: 700;
}
.dropdown ul li p, .dropdown ul li span {
  opacity: .7;
}

input[type=radio] {
    display: none;
}
input[type="radio"]:checked + label::before {
    animation: ripples .4s ease-out forwards;
}
@keyframes ripples {
    0% {transform: scale(1); opacity: 1; border: 2px solid #dbdbdb;}
    20% {transform: scale(1.2); opacity: 1; border: 2px solid #dbdbdb;}
    100% {transform: scale(1.4); opacity: 0; border: 2px solid rgba(255, 0, 0, 0.51);}
}
.colorpicker label::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid rgba(0,0,0,0);
}

.colorpicker {
  display: flex;
  justify-content: center;
}
.colorpicker label {
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    line-height: 40px;
    /* font-size: 1.2em; */
    position: relative;
    margin: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.colorpicker label::after {
    opacity: 0;
    width: 100%;
    left: 0;
    content: "\2713";
    position: absolute;
    transition: opacity .2s;
}
.colorpicker label:hover::after {
    opacity: .4;
}
.colorpicker input[type="radio"]:checked + label::after {
    content: "\2714";
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 1;
}
label[for="r1"] {
    background-color: #4285f4;
}
label[for="r2"] {
    background-color: #0f9d58;
}
label[for="r3"] {
    background-color: #f4b400;
}









/*New bookmark box styling*/
/*###############################################################################################*/

.bookmark-createOrUpdate {
  will-change: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
  transition: all 0.3s ease; /* cubic-bezier(0.81, 0.15, 0.24, 1.23) */
  opacity: 0;
  transform: translateY(-100%);
  padding: 50px 214px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.bookmark-createOrUpdate.box-active {
  opacity: 1;
  transform: translateY(0%);
}
.row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
 .group {
  position: relative;
  width: 100%;
  /* border-bottom: 1px solid #555555; */
}
.bookmark-createOrUpdate .group.input-first {
  margin-right: 20px;
}
 .group input {
  background: none;
  color: #555555;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #555555;
  width: 100%;
}
 .group input:focus {
  outline: none;
}
 .group input:focus ~ label,  .group input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #4285F4;
}
 .group input:focus ~ .bar:before {
  width: 100%;
}

 .group label {
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: .3s ease all;
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar::before {
  content: "";
  height: 2px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: #4285F4;
  transition: .3s ease all;
  left: 0%;
}

.bookmark-createOrUpdate .group .tags input {
  /* display: inline-block;
  width: 50%; */
}
.bookmark-createOrUpdate .group:last-of-type {
  width: 100%;
}

.tag {
  display: inline-block;
  position: relative;
  cursor: default;
  font-size: 16px;
  padding: 4px;
  padding-right: 28px;
  background: #dadada;
  margin-left: 4px;
  margin-top: 10px;
}
.tag.tag-focus {
  background: #cacaca;
}
.tag .close{
  position: absolute;
  background: inherit;
  right: 4px;
  cursor: pointer;
  padding: 0 4px;
}
.tag:hover{
  background: rgba(218, 218, 218, 0.6);
}

.row:last-of-type {
  justify-content: flex-end;
}


.bookmark-createOrUpdate .row .btn, .modal .btn {
  background: #1976d2;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  cursor: pointer;
}

.bookmark-createOrUpdate .row .btn-stripped, .modal .btn-stripped {
  background: none;
  color: #555555;
  padding: 10px;
  font-size: 16px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.bookmark-createOrUpdate .row button:hover, .modal button:hover {
  opacity: .7;
}

ul[id^="suggested-tags"] {
  list-style-type: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  /* border-bottom: 2px solid #4285F4;
  transform: translateY(-1px); */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 222px;
  overflow-y: auto;
}
ul[id^="suggested-tags"] li {
  background: #fff;
  padding: 10px;
  color: #777;
}

ul[id^="suggested-tags"] li:hover {
  background: #e8e8e8;
  cursor: pointer;
}

li.display-none {
  display: none;
}
li.display-block {
  display: block;
}

ul[id^="suggested-tags"] li.yoyo {
  background: #e8e8e8;
}








@media screen and (max-width: 965px) {
  .search .form {
    min-width: 280px;
  }
  .bookmark-createOrUpdate .row:first-of-type {
    flex-direction: column;
  }
  .bookmark-createOrUpdate .group.input-first {
    margin-right: 0;
    margin-bottom: 40px;
  }
}


@media screen and (max-width: 765px) {
  header {
    z-index: 3;
  }
  .logo {
    display: none;
  }
  .search .form {
    width: 100%;
    min-width: initial;
  }
  .search .form input {
    padding-left: 14px;
  }
  .bookmark-createOrUpdate {
    padding: 20px 14px 20px 14px;
  }
  .bookmark-createOrUpdate.box-active {
    transform: translateY(-25%);
    position: relative;
    z-index: 2;
  }
}
